{
  "openapi": "3.1.0",
  "info": {
    "title": "Chalk API contract preview",
    "version": "0.0.0-preview",
    "license": {
      "name": "Apache-2.0",
      "identifier": "Apache-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.chalk.q9labs.com",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/auth/google/callback": {
      "get": {
        "operationId": "completeGoogleSignIn",
        "parameters": [
          {
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auth"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_oauth_state"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["oauth_email_not_verified"]
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conflict",
            "x-chalk-error-codes": ["oauth_email_conflict"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [],
        "summary": "Complete google sign in",
        "x-chalk-rate-limit": {
          "limit": 30,
          "name": "auth.oauth.callback",
          "window_seconds": 60
        }
      }
    },
    "/v1/auth/google/start": {
      "get": {
        "operationId": "startGoogleSignIn",
        "responses": {
          "302": {
            "description": "Found",
            "headers": {
              "Location": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["oauth_not_configured", "service_unavailable"]
          }
        },
        "security": [],
        "summary": "Start google sign in",
        "x-chalk-rate-limit": {
          "limit": 20,
          "name": "auth.oauth.start",
          "window_seconds": 60
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auth"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_email", "invalid_password", "invalid_request"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["invalid_credentials"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [],
        "summary": "Login",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 10,
          "name": "auth.login",
          "window_seconds": 60
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "operationId": "logout",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Logout"
      }
    },
    "/v1/auth/register": {
      "post": {
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auth"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_email", "invalid_password", "invalid_request", "invalid_user_name"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["email_verification_required"]
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conflict",
            "x-chalk-error-codes": ["email_already_registered"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [],
        "summary": "Register",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 5,
          "name": "auth.register",
          "window_seconds": 60
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getMe",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthUser"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Get me",
        "x-chalk-rate-limit": {
          "limit": 100,
          "name": "auth.me",
          "window_seconds": 60
        }
      }
    },
    "/v1/regions": {
      "get": {
        "operationId": "listRegions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Regions"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "List regions"
      }
    },
    "/v1/telemetry/journey-events": {
      "post": {
        "operationId": "intakeJourneyEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JourneyEventBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyEventIntake"
                }
              }
            },
            "description": "Accepted",
            "headers": {
              "x-chalk-journey-id": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_journey_event", "invalid_request"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["journey_ledger_unavailable", "service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Intake journey events",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 600,
          "name": "v1.telemetry.intake",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants": {
      "get": {
        "operationId": "listTenants",
        "parameters": [
          {
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_cursor", "invalid_page_size"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "List tenants"
      },
      "post": {
        "operationId": "createTenant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_request", "invalid_tenant_field", "invalid_tenant_name", "invalid_tenant_region"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Create tenant",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}": {
      "get": {
        "operationId": "getTenant",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["not_found"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Get tenant"
      },
      "patch": {
        "operationId": "updateTenant",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_request", "invalid_tenant_field", "invalid_tenant_id", "invalid_tenant_name", "invalid_tenant_region"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["not_found"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Update tenant",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}/audit-logs": {
      "get": {
        "operationId": "listAuditLogs",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_cursor", "invalid_page_size", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "List audit logs"
      }
    },
    "/v1/tenants/{tenant_id}/audit-logs/{audit_log_id}": {
      "get": {
        "operationId": "getAuditLog",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "audit_log_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AuditLogId"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_audit_log_id", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["not_found"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Get audit log"
      }
    },
    "/v1/tenants/{tenant_id}/integrations/connections": {
      "get": {
        "operationId": "listIntegrationConnections",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "service",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConnectionList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_cursor", "invalid_integration_provider", "invalid_integration_service", "invalid_page_size", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "List integration connections"
      },
      "post": {
        "operationId": "startIntegrationConnection",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartIntegrationConnectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConnectionStart"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_callback_url", "invalid_integration_provider", "invalid_integration_service", "invalid_request", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conflict",
            "x-chalk-error-codes": ["integration_connection_already_exists"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Gateway",
            "x-chalk-error-codes": ["integration_provider_unavailable"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["integration_provider_unavailable", "service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Start integration connection",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}/integrations/connections/{connection_id}": {
      "delete": {
        "operationId": "disableIntegrationConnection",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          },
          {
            "in": "query",
            "name": "revoke",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConnection"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_integration_connection_id", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["integration_connection_not_found"]
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conflict",
            "x-chalk-error-codes": ["integration_connection_not_active"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["integration_provider_rate_limited", "rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Gateway",
            "x-chalk-error-codes": ["integration_provider_unauthorized", "integration_provider_unavailable"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["integration_provider_unavailable", "service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Disable integration connection",
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      },
      "get": {
        "operationId": "getIntegrationConnection",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConnection"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_integration_connection_id", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["integration_connection_not_found"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Get integration connection"
      }
    },
    "/v1/tenants/{tenant_id}/integrations/connections/{connection_id}/actions": {
      "post": {
        "operationId": "executeIntegrationAction",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteIntegrationActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationActionExecution"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_integration_action", "invalid_integration_action_input", "invalid_integration_action_text", "invalid_integration_connection_id", "invalid_request", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden", "integration_action_not_allowed"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["integration_connection_not_found"]
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conflict",
            "x-chalk-error-codes": ["integration_connection_not_active"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["integration_provider_rate_limited", "rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Gateway",
            "x-chalk-error-codes": ["integration_provider_unauthorized", "integration_provider_unavailable"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["integration_provider_unavailable", "service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Execute integration action",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}/integrations/connections/{connection_id}/refresh": {
      "post": {
        "operationId": "refreshIntegrationConnection",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConnectionRefresh"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_integration_connection_id", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["integration_connection_not_found"]
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Conflict",
            "x-chalk-error-codes": ["integration_connection_not_active"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["integration_provider_rate_limited", "rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Gateway",
            "x-chalk-error-codes": ["integration_provider_unauthorized", "integration_provider_unavailable"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["integration_provider_unavailable", "service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Refresh integration connection",
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}/integrations/services": {
      "get": {
        "operationId": "listIntegrationServices",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationServices"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "List integration services"
      }
    },
    "/v1/tenants/{tenant_id}/memberships": {
      "get": {
        "operationId": "listMemberships",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_cursor", "invalid_page_size", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "List memberships"
      },
      "post": {
        "operationId": "createMembership",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMembershipRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Membership"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_membership_role", "invalid_request", "invalid_tenant_id", "invalid_user_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Create membership",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}/memberships/{membership_id}": {
      "patch": {
        "operationId": "updateMembership",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "membership_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MembershipId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Membership"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_membership_id", "invalid_membership_role", "invalid_request", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["not_found"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Update membership",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}/recordings": {
      "get": {
        "operationId": "listRecordings",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "query",
            "name": "session_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RoomSessionId"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingList"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_cursor", "invalid_page_size", "invalid_session_id", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "List recordings"
      }
    },
    "/v1/tenants/{tenant_id}/recordings/{recording_id}": {
      "get": {
        "operationId": "getRecording",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "recording_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RecordingId"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_recording_id", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["not_found"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Get recording"
      },
      "patch": {
        "operationId": "updateRecording",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "recording_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RecordingId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecordingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_recording_field", "invalid_recording_id", "invalid_recording_status", "invalid_request", "invalid_storage_key", "invalid_storage_provider", "invalid_tenant_id"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["not_found"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Update recording",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}/recordings/{recording_id}/download-url": {
      "post": {
        "operationId": "createRecordingDownloadURL",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "recording_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RecordingId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecordingDownloadURLRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingDownloadURL"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request",
            "x-chalk-error-codes": ["invalid_recording_id", "invalid_request", "invalid_storage_key", "invalid_storage_provider", "invalid_tenant_id", "invalid_url_expiration", "recording_not_ready"]
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized",
            "x-chalk-error-codes": ["unauthenticated"]
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden",
            "x-chalk-error-codes": ["forbidden"]
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found",
            "x-chalk-error-codes": ["not_found"]
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large",
            "x-chalk-error-codes": ["payload_too_large"]
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            },
            "x-chalk-error-codes": ["rate_limited"]
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error",
            "x-chalk-error-codes": ["internal_error"]
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable",
            "x-chalk-error-codes": ["service_unavailable"]
          }
        },
        "security": [
          {
            "sessionOrBearer": []
          }
        ],
        "summary": "Create recording download u r l",
        "x-chalk-max-body-bytes": 1048576,
        "x-chalk-rate-limit": {
          "limit": 60,
          "name": "v1.authenticated.write",
          "window_seconds": 60
        }
      }
    },
    "/v1/tenants/{tenant_id}/recordings/{recording_id}/transcriptions": {
      "post": {
        "operationId": "transcribeRecording",
        "parameters": [
          {
            "in": "path",
            "name": "tenant_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          },
          {
            "in": "path",
            "name": "recording_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RecordingId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeRecordingRequest"
              }
            }
[...]
