openapi: 3.0.3
info:
  title: Chalk API
  description: |
    Ultra low-latency, low-bandwidth optimized, real-time video conferencing platform
    built on Cloudflare RealtimeKit.

    **Primary Use Case:** Education (virtual classrooms, tutoring, lectures)
  version: 1.0.0
  contact:
    name: Chalk Support
    email: support@example.com
  license:
    name: Private
    url: https://chalk.io/terms
servers:
  - url: https://api.chalk.io
    description: Production
  - url: https://api.staging.chalk.io
    description: Staging
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Auth
    description: Authentication and token management
  - name: Debug
    description: Debug and diagnostics endpoints for client support tooling
  - name: Tenants
    description: Tenant (organization) management
  - name: Rooms
    description: Video conferencing room management
  - name: Participants
    description: Room participant management
  - name: Recordings
    description: Recording management and storage
  - name: Webhooks
    description: Webhook handlers for external services
  - name: Admin
    description: Administrative endpoints secured with admin secret.
  - name: Ops
    description: Operational status and incident management endpoints.
  - name: Internal
    description: Internal first-party auth/dashboard endpoints.
  - name: Transcription
    description: Post-meeting transcription endpoints.
  - name: WebSocket
    description: WebSocket handshake endpoint.
  - name: WhatsNew
    description: Release notes endpoints.
security:
  - BearerAuth: []
paths:
  /api/v1/admin/audit-logs:
    get:
      summary: List Audit Logs
      tags:
        - Admin
      security:
        - AdminSecretAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Audit logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/incidents:
    get:
      summary: List Ops Incidents
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Incidents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/incidents/{incidentCode}:
    get:
      summary: Get Ops Incident
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      parameters:
        - name: incidentCode
          in: path
          required: true
          description: Incident code
          schema:
            type: string
      responses:
        "200":
          description: Incident
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/incidents/{incidentCode}/ai-drafts:
    post:
      summary: Generate Ops Incident AI Drafts
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      parameters:
        - name: incidentCode
          in: path
          required: true
          description: Incident code
          schema:
            type: string
      responses:
        "200":
          description: AI drafts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/incidents/{incidentCode}/events:
    post:
      summary: Add Ops Incident Event
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      parameters:
        - name: incidentCode
          in: path
          required: true
          description: Incident code
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpsAddIncidentEventRequest"
      responses:
        "200":
          description: Incident event added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/incidents/{incidentCode}/publish:
    post:
      summary: Publish Ops Incident
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      parameters:
        - name: incidentCode
          in: path
          required: true
          description: Incident code
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpsPublishIncidentRequest"
      responses:
        "200":
          description: Incident published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/incidents/{incidentCode}/resolve:
    post:
      summary: Resolve Ops Incident
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      parameters:
        - name: incidentCode
          in: path
          required: true
          description: Incident code
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpsResolveIncidentRequest"
      responses:
        "200":
          description: Incident resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/incidents/declare:
    post:
      summary: Declare Ops Incident
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpsDeclareIncidentRequest"
      responses:
        "201":
          description: Incident declared
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/maintenance:
    post:
      summary: Create Maintenance Window
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpsMaintenanceRequest"
      responses:
        "201":
          description: Maintenance window created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/maintenance/{id}/cancel:
    post:
      summary: Cancel Maintenance Window
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Maintenance window UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Maintenance window canceled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/ops/overview:
    get:
      summary: Get Ops Overview
      tags:
        - Admin
        - Ops
      security:
        - AdminSecretAuth: []
      responses:
        "200":
          description: Ops overview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/overview:
    get:
      summary: Get Admin Overview
      tags:
        - Admin
      security:
        - AdminSecretAuth: []
      responses:
        "200":
          description: Admin overview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOverviewResponse"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/recordings:
    get:
      summary: List Recordings
      tags:
        - Admin
        - Recordings
      security:
        - AdminSecretAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Recordings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/rooms:
    get:
      summary: List Rooms
      tags:
        - Admin
        - Rooms
      security:
        - AdminSecretAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Rooms
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/rooms/{id}:
    get:
      summary: Get Room Details
      tags:
        - Admin
        - Rooms
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Room UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Room details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminRoomDetailsResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/tenants:
    get:
      summary: List Tenants
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Tenants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create Tenant
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantRequest"
      responses:
        "201":
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTenantResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/tenants/{id}:
    delete:
      summary: Delete Tenant
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Tenant deleted
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      summary: Get Tenant
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update Tenant
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminTenantUpdateRequest"
      responses:
        "200":
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/tenants/{id}/activate:
    patch:
      summary: Activate Tenant
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Tenant activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/tenants/{id}/config:
    patch:
      summary: Update Tenant Config
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/tenants/{id}/deactivate:
    patch:
      summary: Deactivate Tenant
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Tenant deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/tenants/{id}/rotate-key:
    post:
      summary: Rotate Tenant API Key
      tags:
        - Admin
        - Tenants
        - Auth
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Key rotated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotateApiKeyResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/tenants/{id}/whiteboard-config:
    patch:
      summary: Update Tenant Whiteboard Config
      tags:
        - Admin
        - Tenants
      security:
        - AdminSecretAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Whiteboard config updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/transcripts:
    get:
      summary: List Transcripts
      tags:
        - Admin
        - Transcription
      security:
        - AdminSecretAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Transcripts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/usage:
    get:
      summary: Get Usage Summary
      tags:
        - Admin
      security:
        - AdminSecretAuth: []
      responses:
        "200":
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUsageResponse"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/webhooks:
    get:
      summary: List Webhook Deliveries
      tags:
        - Admin
        - Webhooks
      security:
        - AdminSecretAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Webhook deliveries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/whisper-jobs:
    get:
      summary: List Whisper Jobs
      tags:
        - Admin
        - Transcription
      security:
        - AdminSecretAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Whisper jobs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/whisper-jobs/processing:
    get:
      summary: List Processing Whisper Jobs
      tags:
        - Admin
        - Transcription
      security:
        - AdminSecretAuth: []
      responses:
        "200":
          description: Processing whisper jobs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObjectArray"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/admin/whisper-jobs/stats:
    get:
      summary: Get Whisper Job Stats
      tags:
        - Admin
        - Transcription
      security:
        - AdminSecretAuth: []
      responses:
        "200":
          description: Whisper job stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminWhisperJobStatsResponse"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/auth/refresh:
    post:
      summary: Refresh JWT token
      description: Exchange a refresh token for a new token pair
      operationId: refreshToken
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: New token pair generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/auth/token:
    post:
      summary: Exchange API key for JWT
      description: |
        Exchange a tenant API key for a JWT token pair (access + refresh).
        The access token is used for subsequent API calls.
      operationId: getToken
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequest"
      responses:
        "200":
          description: Token pair generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/debug/auth:
    get:
      summary: Debug auth status
      description: |
        Returns server-side interpretation of the presented JWT (claims, expiry),
        plus server clock and build metadata for support diagnostics.
      operationId: debugAuth
      tags:
        - Debug
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Debug auth response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DebugAuthResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/debug/client-incident:
    post:
      summary: Report Client Incident
      tags:
        - Debug
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/DebugClientIncidentRequest"
                - $ref: "#/components/schemas/DebugClientIncidentEnvelope"
      responses:
        "202":
          description: Incident accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DebugClientIncidentAcceptedResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/debug/ping:
    head:
      summary: Debug ping
      description: Lightweight endpoint for reachability and latency checks.
      operationId: debugPing
      tags:
        - Debug
      security: []
      responses:
        "204":
          description: No Content
  /api/v1/internal/auth/access-token:
    get:
      summary: Get Internal Access Token
      tags:
        - Internal
        - Auth
      security: []
      parameters:
        - name: X-Chalk-Local-Client-ID
          in: header
          required: false
          description: Optional local client id used in local dashboard bootstrap.
          schema:
            type: string
      responses:
        "200":
          description: Access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalAuthAccessTokenResponse"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/internal/auth/google:
    post:
      summary: Exchange Google OAuth Code
      tags:
        - Internal
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternalAuthGoogleRequest"
      responses:
        "200":
          description: Session established
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalAuthGoogleResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/internal/auth/logout:
    post:
      summary: Logout Internal Session
      tags:
        - Internal
        - Auth
      security: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalAuthLogoutResponse"
  /api/v1/internal/auth/session:
    get:
      summary: Get Internal Session
      tags:
        - Internal
        - Auth
      security: []
      responses:
        "200":
          description: Current session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalAuthSessionResponse"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/internal/meetings:
    get:
      summary: List Internal Meetings
      tags:
        - Internal
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of meetings
          schema:
            type: integer
            default: 50
            minimum: 1
        - name: offset
          in: query
          required: false
          description: Number of meetings to skip
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Meetings list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalMeetingsResponse"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/ops/ingest/heartbeats:
    post:
      summary: Ingest Heartbeat Event
      tags:
        - Ops
      security:
        - OpsIngestTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpsIngestHeartbeatRequest"
      responses:
        "202":
          description: Heartbeat ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpsIngestHeartbeatResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/ops/ingest/monitor-results:
    post:
      summary: Ingest Monitor Result
      tags:
        - Ops
      security:
        - OpsIngestTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpsIngestMonitorResultRequest"
      responses:
        "202":
          description: Monitor result ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpsIngestMonitorResultResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/public/join-token/exchange:
    post:
      summary: Exchange join token
      description: |
        Exchange a previously issued join token for short-lived room access
        credentials used to continue session initialization.
      operationId: exchangeJoinToken
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeJoinTokenRequest"
      responses:
        "200":
          description: Join token exchanged successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeJoinTokenResponse"
        "400":
          description: Invalid join token request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Join token expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Room not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/public/share/{token}:
    get:
      summary: Get Public Recording Share
      tags:
        - Recordings
      security: []
      parameters:
        - name: token
          in: path
          required: true
          description: Signed public share token
          schema:
            type: string
      responses:
        "200":
          description: Shared recording payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicShareResponse"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recordings:
    get:
      summary: List recordings
      description: List all recordings for the authenticated tenant
      operationId: listRecordings
      tags:
        - Recordings
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: List of recordings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRecordingsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recordings/{id}:
    delete:
      summary: Delete recording
      description: Delete a recording and its stored file
      operationId: deleteRecording
      tags:
        - Recordings
      parameters:
        - $ref: "#/components/parameters/RecordingIdPath"
      responses:
        "200":
          description: Recording deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRecordingResponse"
        "400":
          description: Invalid recording ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Recording not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      summary: Get recording details
      description: Retrieve recording information including room details
      operationId: getRecording
      tags:
        - Recordings
      parameters:
        - $ref: "#/components/parameters/RecordingIdPath"
      responses:
        "200":
          description: Recording details with room info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingWithRoomInfo"
        "400":
          description: Invalid recording ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Recording not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recordings/{id}/archive:
    post:
      summary: Archive recording
      description: Move a recording from R2 to S3 Glacier for long-term storage
      operationId: archiveRecording
      tags:
        - Recordings
      parameters:
        - $ref: "#/components/parameters/RecordingIdPath"
      responses:
        "200":
          description: Recording archived successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveRecordingResponse"
        "400":
          description: Invalid ID or recording not ready for archive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Recording not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recordings/{id}/download:
    get:
      summary: Get download URL
      description: |
        Get a presigned download URL for a recording. The URL is valid for 1 hour.
        If the recording is still processing, returns the current status.
      operationId: getRecordingDownloadUrl
      tags:
        - Recordings
      parameters:
        - $ref: "#/components/parameters/RecordingIdPath"
      responses:
        "200":
          description: Download URL or processing status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadRecordingResponse"
        "400":
          description: Invalid recording ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Recording not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recordings/{id}/recover:
    post:
      summary: Recover Recording from Cloudflare
      tags:
        - Recordings
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Recording UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Recovery result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingRecoverResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recordings/{id}/share:
    post:
      summary: Create Recording Share Token
      description: Requires host role in addition to recording permissions.
      tags:
        - Recordings
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Recording UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Share token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingShareTokenResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recordings/{id}/transcribe:
    post:
      summary: Queue Post-Meeting Transcription
      tags:
        - Transcription
        - Recordings
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Recording UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueueTranscriptionRequest"
      responses:
        "202":
          description: Transcription queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueueTranscriptionResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recordings/{id}/transcript:
    get:
      summary: Get Post-Meeting Transcript by Recording
      tags:
        - Transcription
        - Recordings
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Recording UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Transcript
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms:
    get:
      summary: List rooms
      description: List all active rooms for the authenticated tenant
      operationId: listRooms
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: List of rooms
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRoomsResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a new room
      description: |
        Create a new video conferencing room. A Cloudflare RealtimeKit meeting
        is automatically provisioned.
      operationId: createRoom
      tags:
        - Rooms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoomRequest"
      responses:
        "201":
          description: Room created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}:
    delete:
      summary: Delete room
      description: End and delete a room (also removes from Cloudflare)
      operationId: deleteRoom
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "204":
          description: Room deleted successfully
        "400":
          description: Invalid room ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      summary: Get room details
      description: Retrieve room information including participant count
      operationId: getRoom
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: Room details with participant count
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomWithParticipantCount"
        "400":
          description: Invalid room ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Room not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update room
      description: Update room name or configuration
      operationId: updateRoom
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRoomRequest"
      responses:
        "200":
          description: Room updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/chat/attachments/presign-download:
    post:
      summary: Presign chat attachment download
      description: Create a download URL for a chat attachment.
      operationId: presignChatAttachmentDownload
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatPresignDownloadRequest"
      responses:
        "200":
          description: Download URL generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatPresignDownloadResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Not a room member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Storage unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/chat/attachments/presign-upload:
    post:
      summary: Presign chat attachment upload
      description: Create upload URLs for one or more chat attachments.
      operationId: presignChatAttachmentUpload
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatPresignUploadRequest"
      responses:
        "200":
          description: Upload URLs generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatPresignUploadResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Not a room member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Storage unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/chat/attachments/upload:
    post:
      summary: Upload chat attachment
      description: Upload a pending chat attachment as multipart form data.
      operationId: uploadChatAttachment
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - attachment_id
                - file
              properties:
                attachment_id:
                  type: string
                  format: uuid
                  description: Pending attachment identifier
                file:
                  type: string
                  format: binary
                  description: Attachment file content
      responses:
        "204":
          description: Attachment uploaded successfully
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Not a room member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Storage unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/end:
    post:
      summary: End room
      description: |
        End an active room session. All participants are disconnected and
        the room status is set to 'ended'. The room can be reactivated later.
      operationId: endRoom
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: Room ended successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        "400":
          description: Invalid room ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/join-token:
    post:
      summary: Create join token
      description: |
        Create an opaque join token for a room. This token can be exchanged
        by unauthenticated clients for scoped participant access.
      operationId: createJoinToken
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: Join token created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateJoinTokenResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Room not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/participants:
    get:
      summary: List participants
      description: List all participants in a room
      operationId: listParticipants
      tags:
        - Participants
      parameters:
        - $ref: "#/components/parameters/RoomId"
        - name: active
          in: query
          description: Filter for active participants only
          schema:
            type: string
            enum:
              - "true"
              - "false"
      responses:
        "200":
          description: List of participants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListParticipantsResponse"
        "400":
          description: Invalid room ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Add participant to room
      description: |
        Add a new participant to a room. Returns participant info along with
        JWT tokens and Cloudflare auth token for SDK connection.
      operationId: addParticipant
      tags:
        - Participants
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddParticipantRequest"
      responses:
        "201":
          description: Participant added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddParticipantResponse"
        "400":
          description: Invalid request or room not active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/participants/{pid}:
    delete:
      summary: Remove participant
      description: Remove (kick) a participant from the room
      operationId: removeParticipant
      tags:
        - Participants
      parameters:
        - $ref: "#/components/parameters/RoomId"
        - $ref: "#/components/parameters/ParticipantId"
      responses:
        "200":
          description: Participant removed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "204":
          description: Participant removed (no content returned)
        "400":
          description: Invalid room or participant ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Participant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update participant
      description: Update participant metadata (display name and/or role)
      operationId: updateParticipant
      tags:
        - Participants
      parameters:
        - $ref: "#/components/parameters/RoomId"
        - name: pid
          in: path
          required: true
          description: Participant UUID, or "me" for self-update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateParticipantRequest"
      responses:
        "200":
          description: Participant updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          description: Invalid room/participant ID or payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Room or participant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/participants/{pid}/token:
    post:
      summary: Refresh participant token
      description: |
        Generate a new token pair and Cloudflare auth token for a participant.
        Use this when the current token is about to expire.
      operationId: refreshParticipantToken
      tags:
        - Participants
      parameters:
        - $ref: "#/components/parameters/RoomId"
        - $ref: "#/components/parameters/ParticipantId"
      responses:
        "200":
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshParticipantTokenResponse"
        "400":
          description: Invalid room or participant ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Participant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/participants/bulk:
    post:
      summary: Bulk Add Participants
      description: Requires host role.
      tags:
        - Participants
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Room UUID or slug
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkAddParticipantsRequest"
      responses:
        "200":
          description: Bulk add results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkAddParticipantsResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/recordings/{rid}/archive:
    post:
      summary: Archive room recording
      description: Move a recording from R2 to S3 Glacier for long-term storage
      operationId: archiveRoomRecording
      tags:
        - Recordings
      parameters:
        - $ref: "#/components/parameters/RoomId"
        - $ref: "#/components/parameters/RecordingId"
      responses:
        "200":
          description: Recording archived successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveRecordingResponse"
        "400":
          description: Invalid ID or recording not ready for archive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Recording not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/recordings/start:
    post:
      summary: Start recording
      description: Start recording a room session via Cloudflare
      operationId: startRecording
      tags:
        - Recordings
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "201":
          description: Recording started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recording"
        "400":
          description: Invalid room ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Room not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Recording already in progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/recordings/stop:
    post:
      summary: Stop recording
      description: Stop the active recording for a room
      operationId: stopRecording
      tags:
        - Recordings
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: Recording stopped successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recording"
        "400":
          description: Invalid room ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No active recording found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/recordings/sync:
    post:
      summary: Sync Room Recordings from Cloudflare
      description: Requires host role.
      tags:
        - Recordings
        - Rooms
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Room UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Sync result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordingSyncResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/transcripts:
    get:
      summary: List Room Transcripts
      tags:
        - Transcription
        - Rooms
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Room UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Maximum number of transcripts
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          required: false
          description: Number of transcripts to skip
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Room transcripts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomTranscriptsResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/whiteboard/files/presign-download:
    post:
      summary: Presign whiteboard download
      description: Create a short-lived download URL for whiteboard files.
      operationId: presignWhiteboardDownload
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WhiteboardPresignDownloadRequest"
      responses:
        "200":
          description: Download URL generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhiteboardPresignDownloadResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Not a room member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/{id}/whiteboard/files/presign-upload:
    post:
      summary: Presign whiteboard upload
      description: Create a short-lived upload URL for whiteboard files.
      operationId: presignWhiteboardUpload
      tags:
        - Rooms
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WhiteboardPresignUploadRequest"
      responses:
        "200":
          description: Upload URL generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhiteboardPresignUploadResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Not a room member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/rooms/schedule:
    post:
      summary: Schedule a room
      description: |
        Schedule a room to become active on first join at or after the
        configured start time (optionally with an early-join window).
      operationId: scheduleRoom
      tags:
        - Rooms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleRoomRequest"
      responses:
        "201":
          description: Room scheduled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/status:
    get:
      summary: Get Public Status Summary
      tags:
        - Ops
      security: []
      responses:
        "200":
          description: Public status summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpsStatusSummaryResponse"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/status/card.png:
    get:
      summary: Get Public Status Card PNG
      description: Returns a generated PNG image for embedding the current public service status.
      tags:
        - Ops
      security: []
      responses:
        "200":
          description: Public status card image
          content:
            image/png:
              schema:
                type: string
                format: binary
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/status/incidents/{incidentCode}:
    get:
      summary: Get Public Incident Details
      tags:
        - Ops
      security: []
      parameters:
        - name: incidentCode
          in: path
          required: true
          description: Incident code
          schema:
            type: string
      responses:
        "200":
          description: Incident details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpsIncidentDetailsResponse"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/tenants:
    post:
      summary: Create a new tenant
      description: |
        Create a new tenant (organization). Returns the tenant with a one-time
        visible API key. Store this key securely - it cannot be retrieved again.
      operationId: createTenant
      tags:
        - Tenants
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantRequest"
      responses:
        "201":
          description: Tenant created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTenantResponse"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/tenants/{id}:
    delete:
      summary: Delete tenant
      description: Delete a tenant and all associated data
      operationId: deleteTenant
      tags:
        - Tenants
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/TenantId"
      responses:
        "204":
          description: Tenant deleted successfully
        "400":
          description: Invalid tenant ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      summary: Get tenant details
      description: Retrieve tenant information by ID
      operationId: getTenant
      tags:
        - Tenants
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/TenantId"
      responses:
        "200":
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Invalid tenant ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update tenant
      description: Update tenant settings and limits
      operationId: updateTenant
      tags:
        - Tenants
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/TenantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTenantRequest"
      responses:
        "200":
          description: Tenant updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/tenants/{id}/config:
    patch:
      summary: Update Tenant Runtime Config
      tags:
        - Tenants
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantConfigUpdateRequest"
      responses:
        "200":
          description: Updated tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/tenants/{id}/rotate-key:
    post:
      summary: Rotate API key
      description: |
        Generate a new API key for the tenant. The old key is immediately
        invalidated. Store the new key securely.
      operationId: rotateTenantApiKey
      tags:
        - Tenants
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/TenantId"
      responses:
        "200":
          description: API key rotated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotateApiKeyResponse"
        "400":
          description: Invalid tenant ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/transcription/{id}:
    get:
      summary: Get Post-Meeting Transcript
      tags:
        - Transcription
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Transcript UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Transcript
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpaqueObject"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/transcription/providers:
    get:
      summary: List Available Transcription Providers
      tags:
        - Transcription
      security: []
      responses:
        "200":
          description: Provider list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptionProvidersResponse"
  /api/v1/transcription/providers/cloudflare/callback:
    post:
      summary: Handle Cloudflare Transcription Callback
      tags:
        - Transcription
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpaqueObject"
      responses:
        "200":
          description: Callback accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptionCallbackResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/webhooks/cloudflare/recording:
    post:
      summary: Handle recording ready webhook
      description: |
        Webhook endpoint for Cloudflare to notify when a recording is ready.
        Downloads the recording and uploads it to R2 storage.
      operationId: handleRecordingReadyWebhook
      tags:
        - Webhooks
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordingReadyWebhook"
      responses:
        "200":
          description: Recording processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookRecordingResponse"
        "400":
          description: Invalid webhook payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Recording not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/webhooks/local/post-meeting:
    post:
      summary: Local post-meeting webhook receiver (test only)
      description: |
        Local endpoint for testing post-meeting webhook delivery.
        Intended for self-calls in development/testing environments.
      operationId: handleLocalPostMeetingWebhook
      tags:
        - Webhooks
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostMeetingWebhookPayload"
      responses:
        "200":
          description: Webhook received
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAckResponse"
        "400":
          description: Invalid webhook payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Signature verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Room or tenant not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/whats-new:
    get:
      summary: Get Latest Release Notes
      tags:
        - WhatsNew
      security: []
      responses:
        "200":
          description: Latest release notes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhatsNewResponse"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/whats-new/releases:
    get:
      summary: List Release Notes
      tags:
        - WhatsNew
      security: []
      responses:
        "200":
          description: Release notes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhatsNewReleasesResponse"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /health:
    get:
      summary: Health check
      description: Returns the health status of the API
      operationId: healthCheck
      tags: []
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  database:
                    type: string
                    example: connected
                  uptime:
                    type: number
                    format: double
                    description: Server uptime in seconds
                    example: 3600.5
  /ws:
    get:
      summary: Upgrade to WebSocket
      description: WebSocket handshake endpoint. JWT token is provided via Sec-WebSocket-Protocol as token.<jwt> (preferred) or query param fallback.
      tags:
        - WebSocket
      security: []
      parameters:
        - name: token
          in: query
          required: false
          description: JWT token fallback for clients unable to set subprotocol token
          schema:
            type: string
        - name: room
          in: query
          required: false
          description: Optional room identifier for diagnostics
          schema:
            type: string
      responses:
        "101":
          description: Switching Protocols
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    BearerAuth:
      type: http
[...]
